<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <link rel="stylesheet" href="dist/css/main.min.css">
</head>


<body>
<div class="textline">
</div>
<div class="text" style="height: 646px; overflow: scroll">
        <div class="table">
            <ul class="item">
                <li>1.</li>
                <li>프리스타일</li>
                <li>Y</li>
            </ul>
            <ul class="item">
                <li>2.</li>
                <li>키네틱 플로우</li>
                <li>몽환의 숲</li>
            </ul>
            <ul class="item">
                <li>3.</li>
                <li>리쌍</li>
                <li>발레리노</li>
            </ul>
            <ul class="item">
                <li>4.</li>
                <li>프리스타일</li>
                <li>수취인불명</li>
            </ul>
            <ul class="item">
                <li>5.</li>
                <li>버즈</li>
                <li>은인</li>
            </ul>
            <ul class="item">
                <li>6.</li>
                <li>SG워너비</li>
                <li>내 사람</li>
            </ul>
            <ul class="item">
                <li>7.</li>
                <li>엠투맨</li>
                <li>여보야</li>
            </ul>
            <ul class="item">
                <li>8.</li>
                <li>더크로스</li>
                <li>Don't cry</li>
            </ul>
            <ul class="item">
                <li>9.</li>
                <li>윤하</li>
                <li>기다리다</li>
            </ul>
            <ul class="item">
                <li>10.</li>
                <li>바비킴</li>
                <li>사랑 그 놈</li>
            </ul>
            <ul class="item">
                <li>1.</li>
                <li>프리스타일</li>
                <li>Y</li>
            </ul>
            <ul class="item">
                <li>2.</li>
                <li>키네틱 플로우</li>
                <li>몽환의 숲</li>
            </ul>
            <ul class="item">
                <li>3.</li>
                <li>리쌍</li>
                <li>발레리노</li>
            </ul>
            <ul class="item">
                <li>4.</li>
                <li>프리스타일</li>
                <li>수취인불명</li>
            </ul>
            <ul class="item">
                <li>5.</li>
                <li>버즈</li>
                <li>은인</li>
            </ul>
            <ul class="item">
                <li>6.</li>
                <li>SG워너비</li>
                <li>내 사람</li>
            </ul>
            <ul class="item">
                <li>7.</li>
                <li>엠투맨</li>
                <li>여보야</li>
            </ul>
            <ul class="item">
                <li>8.</li>
                <li>더크로스</li>
                <li>Don't cry</li>
            </ul>
            <ul class="item">
                <li>9.</li>
                <li>윤하</li>
                <li>기다리다</li>
            </ul>
            <ul class="item">
                <li>10.</li>
                <li>바비킴</li>
                <li>사랑 그 놈</li>
            </ul>
            <ul class="item">
                <li>1.</li>
                <li>프리스타일</li>
                <li>Y</li>
            </ul>
            <ul class="item">
                <li>2.</li>
                <li>키네틱 플로우</li>
                <li>몽환의 숲</li>
            </ul>
            <ul class="item">
                <li>3.</li>
                <li>리쌍</li>
                <li>발레리노</li>
            </ul>
            <ul class="item">
                <li>4.</li>
                <li>프리스타일</li>
                <li>수취인불명</li>
            </ul>
            <ul class="item">
                <li>5.</li>
                <li>버즈</li>
                <li>은인</li>
            </ul>
            <ul class="item">
                <li>6.</li>
                <li>SG워너비</li>
                <li>내 사람</li>
            </ul>
            <ul class="item">
                <li>7.</li>
                <li>엠투맨</li>
                <li>여보야</li>
            </ul>
            <ul class="item">
                <li>8.</li>
                <li>더크로스</li>
                <li>Don't cry</li>
            </ul>
            <ul class="item">
                <li>9.</li>
                <li>윤하</li>
                <li>기다리다</li>
            </ul>
            <ul class="item">
                <li>10.</li>
                <li>바비킴</li>
                <li>사랑 그 놈</li>
            </ul>
    </div>
</div>

<button type="button" class="upload"><img src="image/upload.jpg" onclick='alert("안녕하세요")'>
</button>

<audio controls preload="metadata" style=" width:300px;" class="audioPlayer">
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
</audio><br />
<!--<a href="http://scriptgenerator.net/really-simple-embed-audio-player-script/" title="Generate here your HTML5 audio player" style="text-align: right;display: block">HTML5 Audio Player</a><!-->

<button type="button" class="login"><img src="image/login.JPG" onclick='alert("안녕하세요")'>
</button>


<div class="man">
    <img src="image/redman.gif">
</div>

<div class="close_friend">
    <img src="image/close_friend.gif">
</div>

<div class="cat">
    <img src="image/cat.gif">
</div>
</body>
<script src="main.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="dist/js/app.js"></script>


</html>
